@model IEnumerable<Ecommerce.Models.CartDetail>

@{
    ViewBag.Title = "MyCart";
}
<style>
    #produt_name {
        position:relative;
        top:80px;
    }
    #checkout{
        position:relative;
        left:470px;
        border-radius:4px;
    }
</style>
<h2>MyCart</h2>

<table class="table">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Image
        </th>
        <th>
            Quantity
        </th>
        <th>
            Total Price
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <span id="produt_name">@Html.DisplayFor(modelItem => item.ProductMap.Product.Product_name)</span>
            </td>
            <td>
                <img id="product_image" src=@item.ProductMap.Product.Image height="200" width="150">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductMap.Product_price)
            </td>

        </tr>
    }

</table>

<button id="checkout">@Html.ActionLink("Checkout", "Final", "Orders")</button>
