
@{
    ViewBag.Title = "Unauthorized Access";
}

<h2>Please Login to add products to the cart</h2>

@Html.ActionLink("Login here", "Login", "Customers");
@Html.ActionLink("Sign up", "Signup", "Customers");
